.todo_list_title {
  text-decoration: underline;
  margin-left: 2rem;
  padding: 2rem;
}
.tabs {
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  justify-content: center;
}
