.todo_list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo_buttons {
  padding-left: 0.7rem;
  display: flex;
  gap: 2rem;
}
.item_container {
  display: flex;
  gap: 3rem;
  border: 0.1rem solid var(--primary-black);
  padding: 2rem;
  justify-content: space-between;
}

.hide_content {
  display: none;
}
